# Node modules
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# IDE specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
 